.charts {
  background-color: #ede9ef;
  border-bottom: #C5C0C0 1px solid;
}

.charts .container{
  padding: 1rem 0;
}

.charts .currencies{
  display: flex;
}

.charts .currency{
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  border-right: #C5C0C0 1px solid;
  /* width: 15rem; */
  padding: 0 2rem;
}

.charts .top{
  display: flex;
  gap: 4rem;
}

.charts p{
  color: #292929;
  font-size: 13px;
  font-family: 400;
}